.commentCard
{  z-index: 10;
      width:24.5rem;
     
     
      background-color:		rgb(255,255,255);
      overflow: hidden;
      height:250px;
      width:400px;
      position:fixed;
      top:14rem;
      left:28rem;
 
      border-radius: 15px;
      box-shadow: 2px 1px 10px #B8B8B8; 
      border:2px 	 solid #E8E8E8 ; 
      
}

  .divx
  {
      height: 200px;
      display:flex;
      overflow:scroll;
      position:fixed;
      bottom:11.5rem;
      flex-direction:column-reverse;
  }
  .divx::-webkit-scrollbar{
      display: none;
    }
