.PrevcommentText
{
     margin: 7px;
     /* margin-left: 5rem; */
    color:#D0D0D0 !important;
    display:flex;
    width:14rem;
    /* height:1.5rem; */
    
    border: 2px solid #A9A9A9 !important;
    border-radius: 7px !important;
    
    align-items:center; 
    padding: 2.5px;
    padding-left: 5px;
    padding-right: 10px;
    
    font-weight: 1.5rem;
    overflow-wrap: normal;
  
   /* overflow: scroll; */
   
 
   
  
}
/* .commentText:active
{ border: 2px solid #A9A9A9 !important;}
/* .commentText:focus
{ border: 2px solid #A9A9A9 !important;} */
.commentText:focus-visible
{ outline: none;}

/* .bnjh
{
    overflow: scroll;
}
.bnjh::-webkit-scrollbar{
    display: none;
  }
  */