.PrevcommentText
{
     margin: 7px;
    
    color:#D0D0D0 !important;
    display:flex;
    width:14rem;
   
    
    border: 2px solid #A9A9A9 !important;
    border-radius: 7px !important;
    
    align-items:center; 
    padding: 2.5px;
    padding-left: 5px;
    padding-right: 10px;
    
    font-weight: 1.5rem;
    overflow-wrap: normal;
  
   
   
 
   
  
}

.commentText:focus-visible
{ outline: none;}

